<!DOCTYPE html>
<html lang="en">

<head>

    <title>
        VnVLabs.com
    </title>    
	<!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 11]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="canonical" href="https://appseed.us/admin-dashboards/flask-dashboard-gradientable">
	
	<meta name="description" content="" />
	<meta name="keywords" content="">
	<meta name="author" content="Codedthemes" />
	<!-- Favicon icon -->

    <link rel="icon" href="/flask_static/assets/images/favicon.ico" type="image/x-icon">

    <script src="/flask_static/assets/js/vendor-all.min.js"></script>
    <script src="/flask_static/assets/js/plugins/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/flask_static/assets/css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
    </style>

</head>
<body>
    <!-- [ auth-signin ] start -->
    <div class="auth-wrapper">
        {% block content %}{% endblock content %}
    </div>

<footer>
    <div class="vnv-foot" >
       <a style="color:white" href="https://rnet-tech.com">&copy RNET Technologies Inc.</a>
       <a style="color:white" href="https://github.com/vnvlabs"> Powered By <img style="height:25px" src="/flask_static/assets/images/logo-dark.png"> </a>
    </div>
</footer>

 {% block modals %}{% endblock modals %}


</body>


</html>
